<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Section List</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Sections Near You</h1>
                <p class="lead fw-normal text-muted mb-0">Sections found in your area</p>
            </div>


            <div class="row justify-content-center mb-4">
                <div class="col-lg-6">
                    <form th:action="@{/sections/search}" class="d-flex gap-2">
                        <input name="query" class="form-control" type="search" placeholder="Search sections..." aria-label="Search"
                        >
                        <button type="submit" class="btn btn-primary d-inline-flex align-items-center" title="Search">
                            <i class="bi bi-search"></i>
                        </button>
                        <a th:href="@{/sections}" class="btn btn-secondary d-inline-flex align-items-center" title="Reset">
                            <i class="bi bi-arrow-clockwise"></i>
                        </a>
                    </form>
                </div>
            </div>
            <div class="row">
                <div th:each="section : ${sections}" class="col-lg-6 mb-4">
                    <div class="position-relative">
                        <div class="ratio ratio-16x9 mb-3" >
                            <img class="rounded-3 object-fit-cover" th:src="${section.photoUrl}"  alt="..."/>
                        </div>
                        <a th:text="${section.getTitle()}"
                           class="h3 fw-bolder text-decoration-none link-dark d-block mb-3"
                           href="#!">Project name</a>
                    </div>
                    <div class="d-flex gap-2">
                        <a class="btn btn-primary" th:href="@{/sections/{sectionId}(sectionId= ${section.getId()})}">View</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>